# Importando as bibliotecas

Caso não tenha instalado as bibliotecas utilizadas no código, retire os # de cada linha de código da célula abaixo e execute a célula

In [72]:
# !pip install requests
# !pip install pandas
# !pip install faker
# !pip install xlsxwriter

In [73]:
import requests
import zipfile
import io
import pandas as pd
from faker import Faker
import random
import xlsxwriter

# Importando a base de dados

In [74]:
pasta_de_destino = './BaseDados'

#Requisição para download do arquivo
# URL do arquivo zip
url = "https://storage.googleapis.com/kaggle-data-sets/55151/2669146/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240320%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240320T134154Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=3c94d6929660902d9f14df89f48b65a3bf0bd955d40e73ca96772e0e8543bacafba79cca8976d90e5151c9d0dce070b9bc3c9e550f3b2dbe2a5981f25c59f5ed52e65325035c224cf1f02bd3bb9b38972681aefeeb5ade65c28b600b7e1da6f3ae31599446f5d69da40929032ad61b84453caf89804ce736c3b22b0d4f7994fddeaf6ff39c846b0b29dc0d38a45282e2197eb745830e48658d428efc472c7fefa0fd85ebc51004f88c833689b729ae7ca1c4360f19b7661cbdd2c7d7059fbdb0fe6cbfb202a1d2e25cc308e46b0c0af6a8e2259dc002f2d7412dbf3dea2c9a38b5788ec3b3cd310b50d3fa9675b5072a7e181d1f71727c6b77bf02d1d5b5c77a"

# Fazendo o request para baixar o arquivo
response = requests.get(url)
 
# Verificando se a requisição foi bem sucedida
if response.status_code == 200:
    # Abrindo o arquivo zip a partir do conteúdo da resposta
    with zipfile.ZipFile(io.BytesIO(response.content), 'r') as zip_ref:
        # Lista de arquivos que você deseja extrair
        arquivos_para_extrair = ['olist_customers_dataset.csv', 'olist_order_items_dataset.csv',
                                'olist_order_reviews_dataset.csv','olist_sellers_dataset.csv',
                                'olist_orders_dataset.csv','olist_products_dataset.csv']

        # Extraindo o conteúdo do arquivo zip para pasta
        zip_ref.extractall(path=pasta_de_destino, members=arquivos_para_extrair)
    print("Arquivo zip baixado e extraído com sucesso!")
else:
    print("Falha ao baixar o arquivo zip.")

Arquivo zip baixado e extraído com sucesso!

In [75]:
#Mapa de categorias com seus respectivos produtos e preços retirados do main.py
products_mapping = {
    "perfumaria": {"1 million": 300,    "Malbec": 150,    "Gabriela Sabatini": 80,    "Flowerbomb": 200,    "212 VIP Men": 180,    "Azzaro Chrome": 120,    "Angel": 250,    "Dolce & Gabbana Light Blue": 160,    "Joop Homme": 100,    "Euphoria Calvin Klein": 140,    "Nina Ricci L'Extase": 90,    "Carolina Herrera Good Girl": 220,    "Ralph Lauren Polo Red": 110,    "Versace Eros": 180,    "Bvlgari Omnia Crystalline": 100,    "Paco Rabanne Olympea": 180,    "Jean Paul Gaultier Le Male": 150,    "Guerlain La Petite Robe Noire": 130,    "Yves Saint Laurent Black Opium": 190,    "Puma Jamaica 2": 70},
    "artes": {"kit tintas acrílicas": 50,    "papel aquarela": 30,    "conjunto pincéis artísticos": 40,    "tela pintura óleo": 20,    "canetas desenho técnico": 25,    "conjunto pastel seco": 35,    "argila para modelagem": 15,    "kit carvão vegetal": 20,    "papel canson": 10,    "kit lápis de cor": 30,    "tinta guache": 12,    "conjunto marcadores artísticos": 40,    "pincel aquarela": 15,    "kit grafite": 25,    "tela canvas": 18,    "colas para artesanato": 8,    "conjunto giz de cera": 15,    "molde vazado": 5,    "borrachas de moldar": 10,    "kit estêncil": 12},
    "esporte_lazer": {"bicicleta urbana": 500,    "patins quad": 150,    "bola futebol campo": 30,    "raquete tênis": 80,    "rede vôlei": 40,    "barraca camping": 100,    "colchonete yoga": 20,    "skate": 70,    "kimono jiu-jitsu": 90,    "bola basquete": 25,    "prancha surf": 300,    "raquete squash": 70,    "luvas muay thai": 50,    "piscina inflável": 120,    "patins inline": 180,    "barril churrasco": 150,    "bola tênis mesa": 10,    "rede badminton": 35,    "kit mergulho": 200,    "taco baseball": 25},
    "bebes": {"carrinho bebê": 350,    "bebê conforto": 180,    "berço": 200,    "kit enxoval berço": 120,    "banheira bebê": 70,    "conjunto mamadeiras": 50,    "triciclo infantil": 100,    "cadeira alimentação bebê": 90,    "conjunto bodies bebê": 40,    "mochila fraldas": 30,    "tapete atividades bebê": 50,    "chupeta": 8,    "andador bebê": 70,    "bolsa maternidade": 60,    "cadeirinha carro bebê": 120,    "kit potes papinha": 20,    "carrinho passeio boneca": 40,    "kit pano boca bebê": 10,    "almofada amamentação": 25,    "ursinho pelúcia": 15},
    "utilidades_domesticas": {"jogo panelas inox": 250,    "conjunto talheres": 70,    "frigideira antiaderente": 40,    "pratos cerâmica": 30,    "conjunto tábuas corte": 40,    "kit potes plástico": 20,    "copos vidro": 25,    "jarra água": 15,    "conjunto travessas vidro": 60,    "assadeira cerâmica": 35,    "taças vinho": 25,    "cafeteira elétrica": 80,    "conjunto facas cozinha": 50,    "jogo xícaras café": 30,    "panela pressão": 70,    "centrífuga salada": 30,    "balde gelo": 20,    "tábua passar roupas": 40,    "máquina costura": 200,    "bacia plástico": 10},
    "instrumentos_musicais": {"violão": 300,    "teclado musical": 250,    "guitarra elétrica": 400,    "bateria acústica": 600,    "saxofone": 500,    "flauta transversal": 150,    "violino": 200,    "contrabaixo": 350,    "ukulele": 100,    "piano digital": 800,    "trompete": 180,    "cavaquinho": 100,    "trombone": 250,    "bongô": 80,    "acordeão": 500,    "pandeiro": 50,    "harpa": 700,    "clarinete": 180,    "escaleta": 60,    "órgão eletrônico": 300},
    "cool_stuff": {"câmera instantânea": 200,    "fones ouvido bluetooth": 100,    "tripé para celular": 20,    "carregador portátil": 30,    "mini projetor": 150,    "óculos realidade virtual": 80,    "kit filtros fotografia": 40,    "luminária led": 25,    "smartwatch": 150,    "drone": 300,    "impressora fotográfica": 120,    "estabilizador para câmera": 80,    "caixa som bluetooth": 70,    "console retrô": 100,    "headphone gamer": 80,    "kit lentes para celular": 35,    "microfone condensador": 50,    "aparelho Polaroid": 100,    "kit softbox iluminação": 60,    "acessórios GoPro": 40},
    "moveis_decoracao": {"sofá retrátil": 900,    "rack TV": 400,    "mesa centro sala": 250,    "conjunto sala jantar (mesa + 4 cadeiras)": 700,    "escrivaninha": 300,    "aparador": 350,    "poltrona decorativa": 400,    "estante livros": 250,    "cômoda": 350,    "conjunto área externa (sofá + mesa)": 1100,    "móvel TV": 200,    "conjunto cozinha (balcão + armário)": 800,    "penteadeira": 180,    "mesa lateral": 120,    "gaveteiro": 100,    "banco almofadado": 70,    "prateleira flutuante": 40,    "conjunto criado-mudo": 150,    "biombo": 80,    "puff decorativo": 60},
    "eletrodomesticos": {"geladeira": 1300,    "fogão": 800,    "máquina lavar roupa": 1000,    "micro-ondas": 400,    "aspirador pó": 200,    "lava-louças": 1300,    "ferro passar roupas": 50,    "cafeteira": 80,    "liquidificador": 60,    "multiprocessador": 100,    "forno elétrico": 300,    "batedeira": 70,    "sanduicheira": 30,    "torradeira": 40,    "ventilador": 80,    "panela elétrica": 120,    "bebedouro": 200,    "espremedor frutas": 35,    "grill elétrico": 50,    "airfryer": 250},
    "brinquedos": {"boneca Barbie": 50,    "carrinho controle remoto": 80,    "lego clássico": 30,    "jogo quebra-cabeça": 20,    "pelúcia grande": 40,    "kit massinha": 15,    "carrinho miniatura": 10,    "jogo memória": 15,    "triciclo infantil": 100,    "kit construção blocos": 25,    "jogo Xadrez": 40,    "kit pintura infantil": 20,    "bola futebol campo": 30,    "boliche infantil": 25,    "kit médico criança": 20,    "jogo dominó": 10,    "patins infantil": 50,    "quebra-cabeça gigante": 50,    "lançador dardos": 30,    "kit montar dinossauro": 15},
    "cama_mesa_banho": {"jogo cama casal": 180,    "toalhas banho": 30,    "jogo cama solteiro": 120,    "conjunto tapetes banheiro": 40,    "edredom casal": 120,    "travesseiro": 25,    "jogo cama queen": 200,    "toalhas rosto": 20,    "capa colchão impermeável": 40,    "jogo cama king": 220,    "cortina quarto": 60,    "jogo lençol infantil": 60,    "jogo cama bebê": 100,    "jogo lençol queen": 180,    "tapete quarto": 40,    "jogo lençol king": 200,    "conjunto organizador banheiro": 40,    "protetor colchão": 35,    "jogo toalhas lavabo": 15,    "almofada decorativa": 30},
    "construcao_ferramentas_seguranca": {"furadeira elétrica": 120,    "jogo chaves fenda": 20,    "trena 5 metros": 10,    "marreta": 40,    "jogo chaves allen": 15,    "serrote": 25,    "escada 4 degraus": 60,    "conjunto parafusos e buchas": 15,    "martelo unha": 30,    "jogo brocas": 20,    "máscara proteção respiratória": 8,    "chave grifo": 30,    "kit reparo furos parede": 10,    "escada extensível": 150,    "kit chaves boca": 35,    "cadeado grande": 20,    "nível bolha": 10,    "serra copo": 25,    "colete refletivo": 20,    "parafusadeira elétrica": 80},
    "informatica_acessorios": {"notebook": 800,    "mouse sem fio": 30,    "pendrive 32GB": 20,    "teclado sem fio": 40,    "HD externo 1TB": 80,    "monitor LED": 150,    "impressora multifuncional": 120,    "roteador wi-fi": 50,    "webcam": 40,    "mochila notebook": 50,    "cartucho impressora": 30,    "caixa som PC": 30,    "mousepad gamer": 15,    "estabilizador energia": 40,    "cabo HDMI": 15,    "adaptador Bluetooth": 20,    "cabo USB tipo C": 10,    "hub USB": 20,    "protetor tela notebook": 15,    "carregador notebook": 40},
    "beleza_saude": {"secador cabelo": 50,    "chapinha cabelo": 30,    "barbeador elétrico": 60,    "modelador cachos": 35,    "prancha alisadora cerâmica": 40,    "escova cabelo ionizadora": 25,    "aparelho estética facial": 50,    "cortador cabelo": 30,    "escova dental elétrica": 40,    "massageador pescoço e ombros": 50,    "balança digital": 30,    "medidor pressão arterial": 40,    "inhalador nebulizador": 45,    "depilador cera": 40,    "escova dente elétrica": 35,    "esfoliador elétrico": 25,    "umidificador ar": 35,    "pente barba": 15,    "termômetro digital": 10,    "espelho aumento": 20},
    "malas_acessorios": {"mala viagem média": 150,    "mochila viagem": 80,    "conjunto malas P,M,G": 300,    "mala bordo": 100,    "necessaire grande": 30,    "mala infantil": 70,    "mala rodinha infantil": 50,    "bolsa maternidade": 80,    "necessaire pequena": 20,    "mala executiva": 180,    "capa mala": 25,    "bolsa academia": 40,    "mala esportiva": 80,    "mala mão": 50,    "mala rodinha": 120,    "mochila notebook": 60,    "mala rodinha grande": 200,    "mochila escolar": 40,    "organizador mala": 25,    "bolsa praia": 30},
    "ferramentas_jardim": {"cortador grama elétrico": 180,    "kit ferramentas jardim": 70,    "mangueira jardim": 40,    "roçadeira elétrica": 150,    "pá jardim": 30,    "tesoura poda": 25,    "soprador folhas": 100,    "ancinho jardim": 20,    "piscina inflável": 120,    "saco lixo jardim": 10,    "mochila pulverizadora": 50,    "enxada jardim": 40,    "cerca jardim": 60,    "fertilizante": 15,    "carrinho mão": 70,    "tábua passar roupas": 40,    "regador plantas": 20,    "conjunto vaso cerâmica": 35,    "tela mosquiteiro": 10,    "escada 4 degraus": 60},
    "moveis_escritorio": {"mesa escritório": 200,    "cadeira escritório": 150,    "armário escritório": 250,    "conjunto escrivaninha gavetas": 350,    "estante livros": 250,    "gaveteiro": 100,    "poltrona giratória": 180,    "conjunto mesa reunião": 500,    "armário arquivo": 300,    "carrinho escritório": 70,    "prateleira flutuante": 40,    "escada 4 degraus": 60,    "armário de canto": 180,    "cama dobrável escritório": 150,    "puff decorativo": 60,    "bancada trabalho": 200,    "conjunto cadeiras escritório": 280,    "estante metal": 180,    "escrivaninha retrátil": 180,    "conjunto gavetas escritório": 120},
    "automotivo": {"kit acessórios carro": 80,    "calibrador pneus": 30,    "cera automotiva": 25,    "tapete carro": 40,    "suporte celular carro": 20,    "encosto massageador carro": 40,    "capa banco couro": 120,    "booster cadeirinha infantil": 50,    "kit limpeza carro": 30,    "organizador porta-malas": 25,    "calha chuva carro": 60,    "almofada massageadora banco": 35,    "kit extintor": 100,    "adesivo carro": 10,    "fita LED automotiva": 15,    "câmera ré": 50,    "película automotiva": 40,    "antena teto": 20,    "engate reboque": 150,    "kit ferramentas emergência": 30},
    "eletronicos": {"smartphone": 800,    "smart TV": 900,    "tablet": 300,    "notebook": 800,    "videogame": 400,    "headphone": 80,    "soundbar": 200,    "caixa som bluetooth": 70,    "smartwatch": 150,    "e-reader": 120,    "projetor": 300,    "drones": 300,    "câmera digital": 500,    "console retrô": 100,    "teclado gamer": 80,    "monitor LED": 150,    "impressora multifuncional": 120,    "roteador wi-fi": 50,    "webcam": 40,    "mouse gamer": 50},
    "fashion_calcados": {"tênis esportivo": 120,    "sapatilha": 60,    "sandália salto alto": 80,    "bota feminina": 100,    "tênis casual": 90,    "rasteirinha": 40,    "sapato social masculino": 150,    "mocassim": 80,    "bota masculina": 120,    "chinelo slide": 30,    "scarpin": 70,    "sandalia salto baixo": 60,    "tênis running": 110,    "sapato social feminino": 120,    "bota montaria": 150,    "bota chelsea": 80,    "tênis skate": 70,    "sapato oxford": 80,    "sapatenis": 60,    "espadrille": 40},
    "telefonia": {"smartphone": 800,    "capa celular": 20,    "carregador portátil": 30,    "fones ouvido bluetooth": 100,    "tripé para celular": 20,    "adaptador Bluetooth": 20,    "cabo USB tipo C": 10,    "capa carteira celular": 25,    "suporte veicular celular": 15,    "popsocket": 10,    "capa resistente celular": 30,    "carregador sem fio": 40,    "suporte anel celular": 8,    "protetor tela celular": 15,    "caneta stylus": 10,    "vidro temperado celular": 15,    "cartão memória celular": 20,    "case à prova d'água celular": 25,    "cabo USB celular": 10,    "lente celular": 20},
    "papelaria": {"kit canetas coloridas": 15,    "caderno espiral": 10,    "bloco notas adesivas": 5,    "caneta esferográfica": 2,    "conjunto lápis grafite": 8,    "marca-texto": 3,    "apontador lápis": 3,    "borracha": 2,    "agendas": 20,    "pasta arquivos": 5,    "régua": 2,    "clips papel": 2,    "caneta gel": 3,    "grampeador": 10,    "etiquetas adesivas": 5,    "pincel atômico": 3,    "tesoura": 5,    "envelopes": 5,    "bloco desenho": 8,    "fita adesiva": 3},
    "fashion_bolsas_e_acessorios": {"bolsa ombro feminina": 80,    "mochila feminina": 70,    "bolsa clutch": 60,    "bolsa tiracolo masculina": 50,    "pasta executiva": 120,    "bolsa maternidade": 80,    "mala viagem média": 150,    "mochila notebook": 60,    "mala rodinha": 120,    "necessaire grande": 30,    "bolsa praia": 30,    "bolsa shopping": 60,    "mochila escolar": 40,    "mala bordo": 100,    "bolsa carteiro": 70,    "mochila viagem": 80,    "bolsa festa": 50,    "bolsa transversal": 40,    "necessaire pequena": 20,    "bolsa sacola": 50},
    "pcs": {"notebook": 800,    "mouse sem fio": 30,    "teclado sem fio": 40,    "monitor LED": 150,    "impressora multifuncional": 120,    "roteador wi-fi": 50,    "webcam": 40,    "headphone": 80,    "mousepad gamer": 15,    "hub USB": 20,    "cartucho impressora": 30,    "adaptador Bluetooth": 20,    "cabo USB tipo C": 10,    "protetor tela notebook": 15,    "carregador notebook": 40,    "pen drive": 15,    "estabilizador energia": 40,    "hub USB-C": 20,    "mouse gamer": 50,    "caixa som PC": 30},
    "casa_construcao": {"furadeira elétrica": 120,    "jogo chaves fenda": 20,    "trena 5 metros": 10,    "marreta": 40,    "jogo chaves allen": 15,    "serrote": 25,    "escada 4 degraus": 60,    "conjunto parafusos e buchas": 15,    "martelo unha": 30,    "jogo brocas": 20,    "máscara proteção respiratória": 8,    "chave grifo": 30,    "kit reparo furos parede": 10,    "escada extensível": 150,    "kit chaves boca": 35,    "cadeado grande": 20,    "nível bolha": 10,    "serra copo": 25,    "colete refletivo": 20,    "parafusadeira elétrica": 80},
    "relogios_presentes": {"relógio masculino": 150,    "relógio feminino": 100,    "relógio esportivo": 80,    "relógio de bolso": 60,    "relógio inteligente": 120,    "relógio parede": 40,    "relógio despertador": 25,    "relógio infantil": 50,    "relógio de pulso": 70,    "relógio analógico": 60,    "relógio digital": 50,    "relógio mecânico": 200,    "relógio automático": 180,    "relógio cronógrafo": 160,    "relógio quartzo": 90,    "relógio com pulseira couro": 80,    "relógio com pulseira metal": 70,    "relógio com pulseira silicone": 60,    "relógio com pulseira nylon": 50,    "relógio com pulseira borracha": 40},
    "construcao_ferramentas_construcao": {"martelo": 30,    "furadeira elétrica": 120,    "parafusadeira elétrica": 80,    "serrote": 25,    "trena 5 metros": 10,    "nivel bolha": 10,    "conjunto chaves fenda": 20,    "jogo chaves allen": 15,    "kit brocas": 20,    "serra copo": 25,    "lixadeira elétrica": 60,    "jogo formões": 30,    "marreta": 40,    "chave grifo": 30,    "espátula pintura": 10,    "pistola pintura": 40,    "talhadeira": 15,    "escada extensível": 150,    "colete refletivo": 20,    "máscara proteção": 8},
    "pet_shop": {"ração cães": 40,    "ração gatos": 35,    "brinquedo interativo cães": 15,    "arranhador gatos": 30,    "coleira cachorro": 20,    "bebedouro automático": 25,    "comedouro duplo": 20,    "brinquedo gatos": 10,    "gaiola pássaros": 40,    "aquário peixes": 80,    "tapete higiênico cães": 20,    "cama almofada cães": 35,    "arranhador poste gatos": 40,    "coleira identificação": 15,    "brinquedo morder cães": 10,    "aquário plantado": 120,    "banheira pássaros": 15,    "shampoo cães": 15,    "areia gatos": 25,    "coleira anti-pulgas": 20},
    "eletroportateis": {"batedeira planetária": 100,    "cafeteira elétrica": 80,    "ferro passar roupas": 50,    "liquidificador": 60,    "forno elétrico": 300,    "aspirador pó": 200,    "sanduicheira": 30,    "espremedor frutas": 35,    "grill elétrico": 50,    "panela elétrica": 120,    "ventilador": 80,    "bebedouro elétrico": 200,    "batedeira portátil": 40,    "purificador água": 150,    "processador alimentos": 100,    "torradeira": 40,    "airfryer": 250,    "liquidificador portátil": 30,    "aspirador portátil": 70,    "cafeteira cápsula": 80},
    "agro_industria_e_comercio": {"trator agrícola": 50000,    "colheitadeira grãos": 150000,    "semeadeira": 25000,    "incubadora ovos": 500,    "seladora a vácuo": 800,    "máquina solda": 1500,    "estufa hidropônica": 1000,    "máquina corte plasma": 4000,    "encubadeira": 300,    "câmara fria": 20000,    "carrinho churrasco": 300,    "máquina bordar": 500,    "seladora embalagens": 150,    "máquina cortar grama": 250,    "máquina fazer chinelo": 600,    "picadeira forragens": 800,    "carrinho pipoca": 250,    "máquina fazer fraldas": 1000,    "seladora alimentos": 120,    "máquina lavar ovos": 400},
    "moveis_sala": {"sofá retrátil": 900,    "rack TV": 400,    "mesa centro sala": 250,    "conjunto sala jantar (mesa + 4 cadeiras)": 700,    "poltrona decorativa": 400,    "estante livros": 250,    "cômoda": 350,    "conjunto área externa (sofá + mesa)": 1100,    "móvel TV": 200,    "mesa lateral": 120,    "gaveteiro": 100,    "banco almofadado": 70,    "puff decorativo": 60,    "prateleira flutuante": 40,    "conjunto criado-mudo": 150,    "biombo": 80,    "cristaleira": 350,    "painel TV": 180,    "aparador": 350,    "conjunto mesa centro (3 unidades)": 300},
    "sinalizacao_e_seguranca": {"câmera segurança": 80,    "extintor incêndio": 40,    "kit câmeras vigilância": 150,    "cabo aço 10 metros": 30,    "cadeado grande": 20,    "corrente plástica": 10,    "sirene alarme residencial": 40,    "placa segurança câmeras": 10,    "luminária emergência": 30,    "extensão cordão segurança": 10,    "placa cuidado piso molhado": 10,    "fita isolante amarela": 5,    "bandeira sinalização pvc": 20,    "detector fumaça": 20,    "capacete segurança": 30,    "bota segurança": 60,    "faixa demarcação solo": 10,    "sinalizador trânsito": 15,    "luz intermitente segurança": 10,    "colete segurança": 20},
    "climatizacao": {"ventilador": 80,    "ar condicionado portátil": 400,    "circulador ar": 60,    "umidificador ar": 35,    "ar condicionado split": 800,    "ventilador teto": 150,    "desumidificador ar": 200,    "ar condicionado janela": 500,    "deshumidificador portátil": 150,    "ar condicionado piso teto": 1000,    "ar condicionado inverter": 1000,    "deshumidificador industrial": 500,    "ar condicionado cassette": 1200,    "aquecedor elétrico": 80,    "deshumidificador semicondutor": 250,    "ar condicionado teto": 600,    "climatizador portátil": 200,    "deshumidificador adsorção": 350,    "ar condicionado central": 3000,    "termoventilador": 50},
    "consoles_games": {"videogame": 400,    "jogo FIFA": 60,    "controle sem fio": 40,    "assento gamer": 100,    "teclado gamer": 80,    "mouse gamer": 50,    "headphone gamer": 80,    "câmera PS": 60,    "cadeira gamer": 200,    "jogo GTA V": 60,    "volante simulador": 150,    "mousepad gamer": 15,    "controle arcade": 70,    "kit realidade virtual": 300,    "jogo The Last of Us": 50,    "suporte console vertical": 20,    "jogo Call of Duty": 60,    "volante suporte": 50,    "jogo God of War": 50,    "captura tela gaming": 100},
    "livros_interesse_geral": {"livro romance": 30,    "livro suspense": 30,    "livro ficção científica": 30,    "livro biografia": 30,    "livro fantasia": 30,    "livro autoajuda": 30,    "livro poesia": 20,    "livro autoconhecimento": 30,    "livro drama": 30,    "livro história": 30,    "livro aventura": 30,    "livro mistério": 30,    "livro autoestima": 30,    "livro clássico": 30,    "livro desenvolvimento pessoal": 30,    "livro humor": 20,    "livro meditação": 25,    "livro conto": 20,    "livro mindfulness": 25,    "livro ensaio": 25},
    "construcao_ferramentas_ferramentas": {"furadeira elétrica": 120,    "parafusadeira elétrica": 80,    "kit ferramentas jardim": 70,    "jogo chaves fenda": 20,    "conjunto chaves fenda": 20,    "jogo chaves allen": 15,    "kit brocas": 20,    "jogo formões": 30,    "serrote": 25,    "marreta": 40,    "chave grifo": 30,    "espátula pintura": 10,    "pistola pintura": 40,    "talhadeira": 15,    "escada extensível": 150,    "colete refletivo": 20,    "máscara proteção": 8,    "caixa ferramentas": 30,    "trena 5 metros": 10,    "nivel bolha": 10,    "cabo aço 10 metros": 30},
    "fashion_underwear_e_moda_praia": {"conjunto lingerie": 50,    "sutiã": 30,    "calcinha": 15,    "cueca": 20,    "pijama feminino": 40,    "pijama masculino": 40,    "robe feminino": 25,    "robe masculino": 25,    "meia": 10,    "camisola feminina": 35,    "sunga": 30,    "body lingerie": 40,    "calça pijama feminina": 30,    "calça pijama masculina": 30,    "meia-calça": 15,    "camisete lingerie": 20,    "camiseta regata praia": 25,    "short praia masculino": 35,    "maiô": 60,    "saída praia": 50},
    "fashion_roupa_masculina": {"camisa social": 80,    "calça social": 100,    "blazer": 150,    "camiseta estampada": 40,    "bermuda jeans": 50,    "jaqueta couro": 200,    "moletom": 60,    "camiseta básica": 30,    "calça jeans": 70,    "camisa polo": 50,    "terno": 300,    "sobretudo": 250,    "camiseta manga longa": 40,    "casaco": 120,    "regata masculina": 20,    "camisa xadrez": 70,    "camisa manga curta": 50,    "jaqueta jeans": 80,    "colete social": 60,    "camisa listrada": 60},
    "moveis_cozinha_area_de_servico_jantar_e_jardim": {"geladeira": 1000,    "fogão": 600,    "máquina lavar roupa": 800,    "micro-ondas": 200,    "forno elétrico": 300,    "lavadora louças": 800,    "coifa": 600,    "cooktop": 400,    "lava e seca": 1200,    "freezer vertical": 700,    "máquina lavar louça": 900,    "frigobar": 300,    "secadora roupa": 700,    "forno micro-ondas": 250,    "depurador ar": 150,    "purificador água": 150,    "bebedouro elétrico": 200,    "frigobar 2 portas": 400,    "fogão embutido": 800,    "gás de cozinha": 100},
    "industria_comercio_e_negocios": {"computador empresa": 800,    "notebook empresarial": 900,    "impressora empresarial": 400,    "servidor": 2000,    "roteador empresarial": 200,    "switch rede": 100,    "telefone VOIP": 80,    "caixa registradora": 300,    "leitor código barras": 150,    "calculadora escritório": 30,    "máquina café profissional": 800,    "impressora etiquetas": 200,    "scanner empresarial": 400,    "cooler servidor": 50,    "roteador wi-fi empresarial": 150,    "roteador 4G empresarial": 250,    "estabilizador servidor": 400,    "fone ouvido empresarial": 50,    "tablet empresarial": 500,    "telefonia IP": 120},
    "telefonia_fixa": {"telefone com fio": 30,    "telefone sem fio": 40,    "ramal adicional": 20,    "atendedor chamadas": 30,    "fone ouvido": 20,    "bina": 10,    "central telefônica": 300,    "secretária eletrônica": 30,    "bloqueador chamadas": 40,    "caller ID": 15,    "conversor chamadas": 25,    "gravador chamadas": 40,    "chave de linha": 20,    "terminal telefônico": 25,    "interfone": 50,    "telefone público": 200,    "telefone parede": 30,    "telefone headset": 35,    "adaptador telefone": 10,    "telefone analógico": 20},
    "construcao_ferramentas_iluminacao": {"lâmpada LED": 10,    "lustre": 80,    "spot embutido": 20,    "pendente": 50,    "plafon": 30,    "abajur": 40,    "luminária teto": 40,    "arandela": 30,    "spot trilho": 60,    "luminária mesa": 25,    "pendente industrial": 70,    "abajur LED": 35,    "refletor LED": 50,    "abajur tripé": 45,    "luminária chão": 60,    "lustre cristal": 150,    "pendente cristal": 100,    "spot sobrepor": 25,    "pendente vidro": 60,    "spot LED": 15},
    "livros_tecnicos": {"livro programação": 50,    "livro marketing digital": 40,    "livro design gráfico": 45,    "livro finanças pessoais": 30,    "livro eletrônica": 40,    "livro robótica": 35,    "livro gestão projetos": 45,    "livro ciência dados": 50,    "livro empreendedorismo": 35,    "livro fotografia": 40,    "livro economia": 40,    "livro desenvolvimento web": 50,    "livro análise investimentos": 30,    "livro arquitetura": 40,    "livro computação nuvem": 45,    "livro física": 30,    "livro inteligência artificial": 50,    "livro gestão recursos humanos": 40,    "livro contabilidade": 35,    "livro administração": 30},
    "eletrodomesticos_2": {"cafeteira elétrica": 80,    "liquidificador": 60,    "batedeira planetária": 100,    "torradeira": 40,    "sanduicheira": 30,    "espremedor frutas": 35,    "mixer": 50,    "ferro passar roupas": 50,    "aspirador pó": 200,    "ventilador": 80,    "umidificador ar": 35,    "purificador água": 150,    "coifa": 600,    "depurador ar": 150,    "lava e seca": 1200,    "lava louças": 800,    "secadora roupa": 700,    "frigobar": 300,    "micro-ondas": 200,    "freezer vertical": 700},
    "artigos_de_festas": {"balões": 10,    "velas aniversário": 5,    "bandeirinhas festa": 5,    "kit descartáveis festa": 20,    "tinta facial festa": 10,    "fantasia adulto": 40,    "fantasia infantil": 30,    "peruca colorida": 20,    "convites festa": 10,    "confetes": 5,    "serpentina": 5,    "máscaras festa": 10,    "toalha mesa festa": 15,    "chapéu festa": 5,    "colar piscina": 5,    "balde gelo piscina": 10,    "bandeira decorativa": 5,    "fogos artifício": 30,    "lanterna céu": 20,    "varal luzes decorativas": 15},
    "bebidas": {"cerveja": 5,    "vinho tinto": 30,    "vinho branco": 30,    "champagne": 50,    "whisky": 100,    "vodca": 40,    "tequila": 50,    "rum": 30,    "gim": 40,    "licor": 25,    "sake": 20,    "absinto": 60,    "cachaça": 15,    "conhaque": 35,    "espumante": 25,    "vermute": 25,    "aperol": 30,    "vermuth": 25,    "aguardente": 20,    "brandy": 35},
    "market_place": {"smartphone": 800,    "notebook": 800,    "smart TV": 900,    "videogame": 400,    "tênis esportivo": 120,    "geladeira": 1000,    "cafeteira elétrica": 80,    "sofá retrátil": 900,    "furadeira elétrica": 120,    "livro romance": 30,    "mala viagem média": 150,    "cadeira gamer": 200,    "câmera segurança": 80,    "fogão": 600,    "aparelho jantar porcelana": 200,    "livro programação": 50,    "panela elétrica": 120,    "geladeira inox": 1200,    "perfume masculino": 60,    "ventilador teto": 150},
    "la_cuisine": {"frigideira antiaderente": 40,    "panela inox": 80,    "liquidificador": 60,    "batedeira planetária": 100,    "jogo taças vinho": 50,    "conjunto facas": 80,    "forma bolo": 20,    "conjunto talheres": 40,    "faca churrasco": 30,    "tábua corte": 25,    "conjunto panelas": 120,    "pipoqueira": 40,    "garrafa térmica": 30,    "jogo copos cerveja": 40,    "chaleira": 40,    "jogo xícaras café": 30,    "churrasqueira elétrica": 300,    "máquina waffle": 60,    "fondue": 70,    "torradeira": 40},
    "construcao_ferramentas_jardim": {"kit ferramentas jardim": 70,    "carrinho mão": 80,    "roçadeira elétrica": 120,    "mangueira jardim": 40,    "enxada": 40,    "podador cerca viva": 60,    "motosserra": 150,    "ancinho": 25,    "cavadeira": 40,    "regador plástico": 20,    "tela sombrite": 15,    "tábua corte plantas": 20,    "estufa hidropônica": 1000,    "cortador grama": 80,    "carrinho jardinagem": 60,    "pá jardim": 30,    "telas mosquiteiro": 30,    "tela proteção pássaros": 20,    "encanteirador": 25,    "tenda dobrável": 100},
    "fashion_roupa_feminina": {"vestido casual": 80,    "blusa estampada": 40,    "short jeans": 40,    "saia midi": 60,    "blazer feminino": 100,    "calça jeans feminina": 70,    "conjunto cropped": 60,    "body feminino": 50,    "macacão feminino": 80,    "camisa listrada": 60,    "blusa ciganinha": 40,    "vestido longo": 100,    "jaqueta jeans": 80,    "conjunto moletom": 70,    "blusa alça fina": 30,    "calça pantalona": 70,    "camiseta básica": 30,    "conjunto moletom cropped": 80,    "blusa ombro a ombro": 40,    "saia plissada": 50},
    "casa_conforto": {"cama box casal": 600,    "colchão casal": 500,    "jogo cama casal": 150,    "cômoda": 350,    "armário roupeiro": 800,    "sofá retrátil": 900,    "rack TV": 400,    "estante livros": 250,    "mesa jantar": 600,    "conjunto área externa": 1000,    "poltrona decorativa": 400,    "tapete sala": 100,    "criado-mudo": 100,    "painel TV": 180,    "cortina": 50,    "luminária teto": 40,    "abajur": 40,    "espelho grande": 120,    "manta sofá": 50,    "capa almofada": 15},
    "audio": {"caixa som Bluetooth": 100,    "fones ouvido": 50,    "amplificador áudio": 200,    "caixa som portátil": 80,    "microfone condensador": 150,    "mixer áudio": 100,    "subwoofer": 150,    "mesa som": 250,    "fone ouvido DJ": 100,    "interface áudio": 80,    "kit som ambiente": 200,    "microfone lapela": 60,    "caixa som PC": 30,    "microfone USB": 60,    "mesa som 8 canais": 300,    "fones ouvido Bluetooth": 70,    "caixa som soundbar": 120,    "mesa som 16 canais": 500,    "microfone shotgun": 80,    "caixa som torre": 250},
    "alimentos_bebidas": {"arroz 5kg": 20,    "feijão 2kg": 10,    "açúcar 1kg": 5,    "café 500g": 10,    "macarrão 500g": 5,    "leite 1l": 3,    "óleo de soja 1l": 5,    "sal 1kg": 3,    "farinha trigo 1kg": 4,    "fermento em pó": 2,    "manteiga 200g": 6,    "leite condensado": 4,    "maionese 500g": 6,    "presunto fatiado 100g": 5,    "queijo muçarela 100g": 4,    "ovos dúzia": 8,    "refrigerante 2l": 6,    "cerveja lata": 4,    "vinho tinto garrafa": 30,    "água mineral 500ml": 2},
    "musica": {"CD": 20,    "vinil": 30,    "DVD musical": 25,    "blu-ray musical": 30,    "álbum digital": 10,    "player vinil": 100,    "player CD": 80,    "player blu-ray": 150,    "caixa som Bluetooth": 100,    "headphone": 80,    "fone ouvido": 50,    "microfone": 60,    "amplificador áudio": 200,    "mesa som": 250,    "kit som ambiente": 200,    "caixa som portátil": 80,    "CD player carro": 60,    "pen drive música": 15,    "kit DJ": 300},
    "alimentos": {"arroz 5kg": 20,    "feijão 2kg": 10,    "açúcar 1kg": 5,    "café 500g": 10,    "macarrão 500g": 5,    "leite 1l": 3,    "óleo de soja 1l": 5,    "sal 1kg": 3,    "farinha trigo 1kg": 4,    "fermento em pó": 2,    "manteiga 200g": 6,    "leite condensado": 4,    "maionese 500g": 6,    "ketchup 500g": 4,    "mostarda 200g": 3,    "presunto fatiado 100g": 5,    "queijo muçarela 100g": 4,    "manteiga de amendoim 250g": 10,    "ovos dúzia": 8},
    "tablets_impressao_imagem": {"tablet": 500,    "impressora multifuncional": 120,    "cartucho impressora": 30,    "papel fotográfico": 20,    "impressora etiquetas": 200,    "scanner": 100,    "papel A4 500 folhas": 15,    "toner impressora": 40,    "impressora térmica": 300,    "plotter": 1500,    "tablet infantil": 150,    "papel adesivo": 10,    "impressora sublimação": 400,    "tablet android": 250,    "papel transfer": 20,    "impressora jato tinta": 80,    "tablet iOS": 350,    "papel couché": 30,    "impressora laser": 200,    "impressora portátil": 100},
    "livros_importados": {"livro romance importado": 50,    "livro suspense importado": 50,    "livro ficção científica importado": 50,    "livro biografia importado": 50,    "livro fantasia importado": 50,    "livro autoajuda importado": 50,    "livro poesia importado": 40,    "livro autoconhecimento importado": 50,    "livro drama importado": 50,    "livro história importado": 50,    "livro aventura importado": 50,    "livro mistério importado": 50,    "livro autoestima importado": 50,    "livro clássico importado": 50,    "livro desenvolvimento pessoal importado": 50,    "livro humor importado": 40,    "livro meditação importado": 45,    "livro conto importado": 40,    "livro mindfulness importado": 45,    "livro ensaio importado": 45},
    "portateis_casa_forno_e_cafe": {"forno elétrico": 300,    "cafeteira elétrica": 80,    "sanduicheira": 30,    "liquidificador": 60,    "mixer": 50,    "espremedor frutas": 35,    "grill": 60,    "fritadeira elétrica": 200,    "panela elétrica": 120,    "tostador": 40,    "batedeira": 100,    "crepeira elétrica": 70,    "processador alimentos": 80,    "máquina fazer pão": 150,    "cafeteira expresso": 500,    "torradeira": 40,    "máquina café espresso": 800,    "máquina café cápsulas": 200,    "máquina café italiana": 50,    "moedor café elétrico": 60},
    "fashion_esporte": {"tênis esportivo": 120,    "tênis corrida": 150,    "shorts esportivo": 50,    "legging esportiva": 60,    "top esportivo": 40,    "camiseta esportiva": 30,    "camiseta regata esportiva": 25,    "bermuda esportiva": 50,    "jaqueta corta-vento": 80,    "jaqueta impermeável": 100,    "agasalho esportivo": 120,    "meia esportiva": 10,    "viseira esportiva": 20,    "luvas esportivas": 30,    "polaina esportiva": 25,    "saco dormir leve": 150,    "mochila hidratação": 100,    "mochila esportiva": 80,    "tapa-ouvido": 15,    "palmilha esportiva": 20},
    "artigos_de_natal": {"árvore natal": 100,    "pisca-pisca": 20,    "bola natal": 5,    "guirlanda": 30,    "enfeite natal": 10,    "meia natal": 5,    "presépio": 50,    "sino natal": 10,    "papai noel pelúcia": 30,    "vila natalina": 80,    "cesta natal": 50,    "boneco neve": 40,    "luvas natal": 5,    "enfeite natalino": 5,    "toalha mesa natal": 30,    "capa cadeira natal": 10,    "touca natal": 5,    "saco presente natal": 10,    "calendário advento": 20,    "luz laser natal": 60},
    "fashion_roupa_infanto_juvenil": {"conjunto infantil": 40,    "vestido infantil": 35,    "short infantil": 25,    "camiseta estampada infantil": 20,    "bermuda jeans infantil": 30,    "jaqueta jeans infantil": 50,    "moletom infantil": 40,    "camiseta básica infantil": 15,    "calça jeans infantil": 40,    "camisa polo infantil": 25,    "conjunto juvenil": 50,    "vestido juvenil": 45,    "short juvenil": 30,    "camiseta estampada juvenil": 25,    "bermuda jeans juvenil": 35,    "jaqueta jeans juvenil": 60,    "moletom juvenil": 45,    "camiseta básica juvenil": 20,    "calça jeans juvenil": 45,    "camisa polo juvenil": 30},
    "dvds_blu_ray": {"DVD filme": 20,    "blu-ray filme": 30,    "DVD série TV": 25,    "blu-ray série TV": 35,    "DVD musical": 25,    "blu-ray musical": 30,    "DVD documentário": 20,    "blu-ray documentário": 25,    "DVD infantil": 15,    "blu-ray infantil": 20,    "DVD ação": 20,    "blu-ray ação": 30,    "DVD drama": 20,    "blu-ray drama": 30,    "DVD comédia": 20,    "blu-ray comédia": 30,    "DVD ficção científica": 20,    "blu-ray ficção científica": 30,    "DVD terror": 20,    "blu-ray terror": 30},
    "artes_e_artesanato": {"tinta acrílica": 15,    "pincel artístico": 10,    "tela pintura": 20,    "conjunto tintas óleo": 30,    "papel aquarela": 15,    "papel canson": 10,    "kit desenho": 20,    "giz pastel": 10,    "papel scrapbook": 15,    "tesoura artesanato": 10,    "cola bastão": 5,    "cola líquida": 8,    "fita adesiva decorativa": 5,    "agulha tricô": 8,    "linha tricô": 5,    "kit crochê": 20,    "conjunto carimbo": 15,    "tinta tecido": 10,    "feltro": 8,    "linha bordado": 5},
    "pc_gamer": {"placa vídeo": 500,    "processador": 400,    "memória RAM": 150,    "SSD": 120,    "HD": 80,    "placa-mãe": 200,    "fonte alimentação": 100,    "gabinete gamer": 150,    "monitor gamer": 300,    "teclado gamer": 80,    "mouse gamer": 60,    "headset gamer": 100,    "cadeira gamer": 200,    "coolers extras": 50,    "cabo HDMI": 20,    "mousepad gamer": 30,    "adaptador Wi-Fi": 30,    "leitor cartão memória": 20,    "webcam": 50,    "caixa som PC": 30},
    "moveis_quarto": {"cama casal": 650,    "colchão casal": 500,    "guarda-roupa casal": 800,    "cômoda": 350,    "sapateira": 150,    "criado-mudo": 100,    "escrivaninha": 250,    "cama solteiro": 500,    "colchão solteiro": 400,    "guarda-roupa solteiro": 600,    "penteadeira": 300,    "bancada estudo": 200,    "armário banheiro": 200,    "box colchão": 100,    "espelho grande": 120,    "cabideiro": 60,    "sapateira giratória": 120,    "cabeceira cama": 80,    "baú quarto": 150,    "cama beliche": 800},
    "cine_foto": {"câmera DSLR": 1000,    "câmera mirrorless": 800,    "câmera instantânea": 150,    "tripé": 50,    "mochila câmera": 80,    "bolsa câmera": 30,    "cartão memória": 20,    "cartão memória SD": 25,    "cartão memória microSD": 20,    "câmera 360": 200,    "câmera esportiva": 100,    "gopro": 250,    "bateria câmera": 40,    "carregador câmera": 30,    "lente câmera": 150,    "filtros lente": 50,    "câmera analógica": 80,    "filme câmera": 10,    "polaroid": 100,    "impressora fotos": 100},
    "fraldas_higiene": {"fralda P": 30,    "fralda M": 35,    "fralda G": 40,    "fralda XG": 45,    "fralda RN": 25,    "lenço umedecido": 10,    "sabonete bebê": 5,    "shampoo bebê": 8,    "creme assaduras": 15,    "termômetro bebê": 20,    "escova cabelo bebê": 10,    "cotonete bebê": 5,    "carrinho bebê": 300,    "cadeirinha carro bebê": 200,    "banheira bebê": 100,    "travesseiro bebê": 20,    "mamadeira": 15,    "chupeta": 8,    "roupa bebê": 20,    "saco dormir bebê": 50},
    "flores": {"buquê rosas vermelhas": 60,    "buquê girassol": 50,    "buquê tulipas": 40,    "buquê margaridas": 30,    "buquê lírios": 50,    "buquê rosas brancas": 60,    "arranjo flores": 40,    "orquídea": 70,    "ramalhete": 30,    "coroa flores funeral": 100,    "cesta flores": 60,    "vaso flores": 25,    "mini cacto": 10,    "bonsai": 80,    "terrário": 40,    "kit jardinagem": 20,    "flor artificial": 15,    "muda planta": 10,    "coração flores": 50,    "tulipas holandesas": 60},
    "casa_conforto_2": {"cama casal": 650,    "colchão casal": 500,    "guarda-roupa casal": 800,    "cômoda": 350,    "sapateira": 150,    "criado-mudo": 100,    "escrivaninha": 250,    "cama solteiro": 500,    "colchão solteiro": 400,    "guarda-roupa solteiro": 600,    "penteadeira": 300,    "bancada estudo": 200,    "armário banheiro": 200,    "box colchão": 100,    "espelho grande": 120,    "cabideiro": 60,    "sapateira giratória": 120,    "cabeceira cama": 80,    "baú quarto": 150,    "cama beliche": 800},
    "portateis_cozinha_e_preparadores_de_alimentos": {"liquidificador": 60,    "batedeira": 100,    "processador alimentos": 80,    "cafeteira elétrica": 80,    "forno elétrico": 300,    "sanduicheira": 30,    "mixer": 50,    "grill": 60,    "fritadeira elétrica": 200,    "panela elétrica": 120,    "tostador": 40,    "crepeira elétrica": 70,    "máquina fazer pão": 150,    "chaleira elétrica": 40,    "torradeira": 40,    "liquidificador portátil": 50,    "espremedor frutas": 35,    "moedor café elétrico": 60,    "tábua corte": 25,    "cooler térmico": 30},
    "seguros_e_servicos": {"seguro automóvel": 1000,    "seguro residencial": 800,    "seguro saúde": 1200,    "seguro viagem": 150,    "seguro vida": 300,    "seguro moto": 600,    "seguro bicicleta": 200,    "seguro celular": 100,    "seguro equipamentos fotografia": 300,    "seguro pet": 50,    "seguro barco": 500,    "seguro notebook": 80,    "seguro tablet": 60,    "serviço limpeza residencial": 150,    "serviço personal trainer": 80,    "serviço jardinagem": 100,    "serviço chaveiro": 50,    "serviço encanador": 80,    "serviço eletricista": 80,    "serviço pintor": 100},
    "moveis_colchao_e_estofado": {"cama casal": 650,    "colchão casal": 500,    "cama solteiro": 500,    "colchão solteiro": 400,    "sofá retrátil": 900,    "sofá 2 lugares": 500,    "sofá 3 lugares": 700,    "poltrona": 300,    "puff": 100,    "sofá cama": 800,    "cama beliche": 800,    "colchão ortopédico": 600,    "colchão espuma": 400,    "colchão molas": 600,    "cama box casal": 600,    "cama box solteiro": 500,    "cabeceira cama": 80,    "almofada decorativa": 30,    "tapete sala": 100,    "manta sofá": 50},
    "cds_dvds_musicais": {"CD": 20,    "DVD musical": 25,    "blu-ray musical": 30,    "álbum digital": 10,    "player CD": 80,    "player blu-ray": 150,    "microfone": 60,    "mesa som": 250,    "kit som ambiente": 200,    "caixa som portátil": 80,    "CD player carro": 60,    "pen drive música": 15,    "kit DJ": 300,    "player vinil": 100,    "caixa som Bluetooth": 100,    "fones ouvido Bluetooth": 70,    "caixa som soundbar": 120,    "mesa som 16 canais": 500,    "microfone shotgun": 80,    "caixa som torre": 250}
}

# Criando DataFrames a partir dos arquivos csv

In [76]:
#Criando um dataframe para cada arquivo csv extraído

dfClientes = pd.read_csv(pasta_de_destino + '/olist_customers_dataset.csv')
dfProdutos = pd.read_csv(pasta_de_destino + '/olist_products_dataset.csv')
dfPedidos = pd.read_csv(pasta_de_destino + '/olist_orders_dataset.csv')
dfAvaliacoes = pd.read_csv(pasta_de_destino + '/olist_order_reviews_dataset.csv')
dfVendedores = pd.read_csv(pasta_de_destino + '/olist_sellers_dataset.csv')
dfItems = pd.read_csv(pasta_de_destino + '/olist_order_items_dataset.csv')

#

# Visualição das primeiras 2 linhas dos DataFrame

In [77]:
dfClientes.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [78]:
dfProdutos.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [79]:
dfPedidos.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [80]:
dfAvaliacoes.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [81]:
dfVendedores.head(2)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

In [82]:
dfItems.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

# Verificação de Valores Nulos existentes

In [83]:
#Verificando valores  se existem valores nulos em Pedidos
dfPedidos.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [84]:
# Encontrar os índices onde há valores nulos
indices_nulos = dfPedidos[dfPedidos.isnull().any(axis=1)].index
indices_nulos

# Visualizar as linhas correspondentes aos índices de valores nulos
linhas_nulas = dfPedidos.iloc[indices_nulos]

linhas_nulas
#Após a visualização percebe-se que não precisa de tratamento nos valores nulos encontrados

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaN,2018-06-28 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaN,NaN,2018-08-21 00:00:00
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaN,NaN,2017-10-03 00:00:00
154,6942b8da583c2f9957e990d028607019,52006a9383bf149a4fb24226b173106f,shipped,2018-01-10 11:33:07,2018-01-11 02:32:30,2018-01-11 19:39:23,NaN,2018-02-07 00:00:00
...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaN,NaN,2018-02-06 00:00:00
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

In [85]:
#Verificando se existem valores nulos em Produtos
dfProdutos.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [86]:
# Encontrar os índices onde há valores nulos
indices_nulos = dfProdutos[dfPedidos.isnull().any(axis=1)].index
indices_nulos

# Visualizar as linhas correspondentes aos índices de valores nulos
linhas_nulas = dfProdutos.iloc[indices_nulos]

linhas_nulas
#Após a visualização percebe-se  que a colunas product_category_name precisa de tratamento as demais colunas podem ser ignoradas

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_5744\732310662.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indices_nulos = dfProdutos[dfPedidos.isnull().any(axis=1)].index

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
44,7a8dac4aaa16bc642e4df33adcf03303,cool_stuff,38.0,1701.0,2.0,11750.0,18.0,40.0,79.0
103,b2b3503e675abbc07e278151da072ed2,moveis_decoracao,46.0,287.0,1.0,8500.0,75.0,25.0,55.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
...,...,...,...,...,...,...,...,...,...
32756,f3efd1d829b025dddc72baba33e17c19,telefonia,58.0,711.0,1.0,540.0,14.0,13.0,16.0
32770,fb694051ae63bbd9793cb8869bd96949,esporte_lazer,47.0,952.0,1.0,1450.0,20.0,25.0,20.0
32781,be588e939ab09c7ca4d4046266619de5,pet_shop,37.0,361.0,2.0,11750.0,82.0,7.0,72.0
32792,3cb92605eba23721776a8a26f0e62921,automotivo,57.0,1149.0,5.0,1500.0,60.0,8.0,33.0
32817,fa8fb673c7f31e3c35f62de366af764b,informatica_acessorios,54.0,227.0,2.0,3700.0,33.0,44.0,19.0

In [87]:
#Verificando se existem valores nulos em Clientes
dfClientes.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [88]:
#Verificando se existem valores nulos em Vendedores
dfVendedores.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [89]:
#Verificando se existem valores nulos em Items
dfItems.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [90]:
#Verificando se existem valores nulos em Clientes
dfAvaliacoes.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [91]:
# Encontrar os índices onde há valores nulos
indices_nulos = dfAvaliacoes[dfPedidos.isnull().any(axis=1)].index
indices_nulos

# Visualizar as linhas correspondentes aos índices de valores nulos
linhas_nulas = dfAvaliacoes.iloc[indices_nulos]

linhas_nulas
#Após a visualização percebe-se   que a tabela Avaliações não precisa de tratamento nos valores nulos encontrados

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_5744\2902880554.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indices_nulos = dfAvaliacoes[dfPedidos.isnull().any(axis=1)].index

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
44,6f3eb43ec2f5092cf04c8d705864a8ac,f3a9c397a2fa5a2366b4b96bc15737f6,5,NaN,NaN,2018-03-11 00:00:00,2018-03-14 00:38:50
103,97d4feff1fd7129bee6cde095b9dac2a,b4039fffc67d7a5a75a3ba881d75e402,5,NaN,estao de parabens... sempre chega com muiiita ...,2017-06-24 00:00:00,2017-06-29 13:48:21
128,5c37d7ba6ef2f031c34bb4fda3454018,bbd1b9ebbc5a09d51caaa2d10e0f93b5,2,NaN,Demorou de mais pra entrega,2017-12-17 00:00:00,2017-12-17 12:14:13
154,c3dc53293222872c90de63a9dc56902e,617b248faca8fe758da0640030f82f00,1,NaN,NaN,2018-06-22 00:00:00,2018-06-22 20:59:02
...,...,...,...,...,...,...,...
99113,e6f20a4766d7bf389e56816f5d47ac9b,06970f3ad11e6267192d7d98af40a8f5,5,NaN,NaN,2017-12-07 00:00:00,2017-12-07 16:01:13
99140,c5aeecce6e1da6fb1058371dde6b52f3,08f037463ef8a43a35237ad2029f316b,3,7,Muito bom,2018-06-06 00:00:00,2018-06-11 13:24:51
99143,2417fb1e4afda69d37ed361be8175a12,526ad2823ac462d2de62d9747db765e6,5,NaN,NaN,2018-01-20 00:00:00,2018-01-20 20:47:07
99147,d996452bcb578d50d73bd9b92039b603,f7541ffd5bcc27d83193554028f9127c,5,NaN,Veio por partes mas veio tudo certo!,2018-04-24 00:00:00,2018-04-26 12:34:14
99181,35a13e6b01a98a70016bf32f5c004276,9b89cca19e5d0e3f239ba4f8cb120d99,5,NaN,NaN,2018-04-07 00:00:00,2018-04-09 13:44:30

# Correção dos valores Nulos e adicionando valores para tabela de clientes, vendedores e Produtos

Este código gera nomes aleatórios de clientes e vendedores usando a biblioteca Faker e, em seguida, os insere nos DataFrames dfClientes e dfVendedores nas posições especificadas.

In [92]:
# Inicializa o Faker
fake = Faker()

# Dicionário para armazenar as associações entre IDs e nomes
clientes_nomes = {}
vendedores_nomes = {}

# Gera nomes de usuários para clientes
for customer_id in set(dfClientes['customer_id']):
    clientes_nomes[customer_id] = fake.name()

# Gera nomes de usuários para vendedores
for seller_id in set(dfVendedores['seller_id']):
    vendedores_nomes[seller_id] = fake.name()

# Suponha que você queira inserir as colunas na posição 1 (após a primeira coluna)
posicao_insercao = 1

# Adiciona as colunas de nomes aos DataFrames na posição desejada
dfClientes.insert(posicao_insercao, 'customer_name', dfClientes['customer_id'].map(clientes_nomes))
dfVendedores.insert(posicao_insercao, 'seller_name', dfVendedores['seller_id'].map(vendedores_nomes))


Esse código define uma função chamada get_random_product que retorna um produto aleatório dentro de uma categoria específica. Ele então adiciona as colunas 'product_name' e 'product_value' ao DataFrame de produtos dfProdutos e preenche essas colunas com valores aleatórios usando a função get_random_product.

In [93]:
# Função para obter um produto aleatório dentro de uma categoria específica
def get_random_product(row):
    category = row['product_category_name']
    if pd.isnull(category):  # Verifica se o valor da categoria é nulo
        product_category = random.choice(list(products_mapping.keys()))  # Escolhe uma categoria aleatória
        products = products_mapping[product_category]
        product, price = random.choice(list(products.items()))  # Escolhe um produto e um preço aleatórios dentro da categoria
    else:
        products = products_mapping.get(category, {})
        if not products:  # Se não há produtos para a categoria especificada, escolhe uma categoria aleatória
            product_category = random.choice(list(products_mapping.keys()))
            products = products_mapping[product_category]
        product, price = random.choice(list(products.items()))
        product_category = category
    return product_category, product, price

# Adiciona as colunas 'product_name' e 'product_value' ao DataFrame de produtos
dfProdutos.insert(loc=2, column='product_name', value='')
dfProdutos.insert(loc=3, column='product_value', value='')

# Preenche as colunas 'product_name' e 'product_value' com os valores aleatórios
dfProdutos['product_category_name'], dfProdutos['product_name'], dfProdutos['product_value'] = zip(*dfProdutos.apply(get_random_product, axis=1))

In [94]:
dfClientes.head(2)

,customer_id,customer_name,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,Laura Gonzalez,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,Suzanne Johnson,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [95]:
dfProdutos.head(2)

,product_id,product_category_name,product_name,product_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,Jean Paul Gaultier Le Male,150,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,borrachas de moldar,10,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [96]:
dfPedidos.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [97]:
dfAvaliacoes.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [98]:
dfVendedores.head(2)

,seller_id,seller_name,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,Joyce Frazier,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,Brittany Ellis,13844,mogi guacu,SP

In [99]:
dfItems.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

# Limitando a tabela olist_orders com os primeiros 1000 registros, e filtrando todas as outras com base nela.

In [100]:
dfPedidos_limitados= dfPedidos.head(1000)
dfPedidos_limitados

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
995,e2493d49c7ac426207fb7575814ebbd4,660e0dca520294ab5ff435d0298627f9,delivered,2017-12-04 17:16:55,2017-12-04 18:30:31,2017-12-05 21:37:09,2017-12-21 21:17:08,2018-01-09 00:00:00
996,be6e034d294e425c514e215bf0b7120a,ba7c84cd4d0db9d73b66a79e4d3e130c,delivered,2017-05-22 15:57:42,2017-05-22 16:05:19,2017-05-24 08:17:48,2017-05-30 12:13:30,2017-06-09 00:00:00
997,777ee9a9950b655601a65012d4e45584,14e5f1e56b5d74d9fe35c39e8ba04699,delivered,2017-10-08 14:53:58,2017-10-08 15:07:11,2017-10-09 20:17:55,2017-10-13 21:36:49,2017-11-01 00:00:00
998,f056d4857c146c38ff02566b3e152bca,fc6408fa8083f3c01b1f287709714321,delivered,2018-05-17 16:37:03,2018-05-18 02:54:16,2018-05-18 14:35:00,2018-05-22 02:40:39,2018-06-07 00:00:00
999,8e3f8be6e1ce8ec5b39dae59e0aabcff,6520161e793f944073a132d97e9af083,delivered,2018-03-23 11:07:13,2018-03-27 03:56:17,2018-03-29 21:33:24,2018-04-11 23:41:16,2018-04-16 00:00:00

In [101]:
dfClientes_filtrados = dfClientes.query('customer_id in @dfPedidos_limitados.customer_id')
dfClientes_filtrados

,customer_id,customer_name,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
157,ae8db0691449a44352e7d535ddf78c5e,Amanda Jackson,ad28944afc91824e30366a595654aaa4,11440,guaruja,SP
222,4b003ee1eabaffe8ff8e6d75394a9b42,Dennis Long,941590fb8aef66b3a8352fe7c691879e,48700,serrinha,BA
230,1681471e9172d7e12ba08e9ac9e8628b,Mitchell Rivera,84032c13e75382a35c99ae73156b30b9,20250,rio de janeiro,RJ
323,a4a00c41b5e3ed88bf0e0bb96576c2b2,Zachary Bailey,94e89532396b3c02f648b2bc7f93f528,26115,belford roxo,RJ
433,6ca7c0e971c24ce0931f148588ef23ce,Brandi Quinn,f48a9bdc7d38b43bba4082517ea1bc07,36080,juiz de fora,MG
...,...,...,...,...,...,...
99138,faa299ecd22a2998858efc7cb87011bc,Jessica Yates,cad2c7327ff2add52d6f2579e541ccc7,4542,sao paulo,SP
99199,a4555d257db29ef5f838cec4101c5208,Dave Small,f7be9bec658c62ab6240b44cd26c0b84,80030,curitiba,PR
99266,10ee14e89676c9f43e64a67cae62823b,Robert Thomas,67172368edf401478f187d09180a1671,54735,sao lourenco da mata,PE
99333,93ada7a24817edda9f4ab998fa823d16,Janice Jones,cd148470c375939669971e8a032b16b4,14091,ribeirao preto,SP
99413,6928be51d9496f1aab5da8f15a21aba6,Nicholas Jones,6667649dc575c65058507349be078d4f,13630,pirassununga,SP

In [102]:
dfItems_filtrados = dfItems.query('order_id in @dfPedidos_limitados.order_id')
dfItems_filtrados

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
27,00125cb692d04887809806618a2a145f,1,1c0c0093a48f13ba70d0c6b0a9157cb7,41b39e28db005d9731d9d485a83b4c38,2017-03-29 13:05:42,109.90,25.51
143,00571ded73b3c061925584feab0db425,1,8695c431b31927efef5343e675f279e7,fe2032dab1a61af8794248c8196565c9,2017-05-25 21:10:16,179.90,15.01
144,00571ded73b3c061925584feab0db425,2,8695c431b31927efef5343e675f279e7,fe2032dab1a61af8794248c8196565c9,2017-05-25 21:10:16,179.90,15.01
303,00bdcdda88e6b02977fc6ce3d412c600,1,20566af10fda4783935b8cef249fa4c3,d921b68bf747894be13a97ae52b0f386,2018-06-14 10:21:14,118.90,18.93
479,011b142c9e082a5c1d10e0a88cd9c8e8,1,4cb33e9787e8a38b82bd68e70f5f4700,17e34d8224d27a541263c4c64b11a56b,2018-03-29 11:55:34,243.37,53.83
...,...,...,...,...,...,...,...
111414,fd180ff2363b236f823a4fa8a2a729f1,1,63de2743d05ab59d85caa49e49459ac1,cbd996ad3c1b7dc71fd0e5f5df9087e2,2017-05-25 09:45:14,19.90,11.85
111660,fd9b8ed51e5ffedf7a56bea36cc5b6f9,1,0ef8c1b31d81d6b4453f70a61321f73e,fa1a9dec3a9940c072684a46728bf1fc,2018-04-04 23:26:57,119.90,23.42
111705,fdbd371c335ecb94ccb8a65c37d8ebba,1,a1efabfd513c691eeb2650e5f04e5cb6,7ddcbb64b5bc1ef36ca8c151f6ec77df,2017-12-29 20:28:19,37.99,13.08
111786,fdf128b3630c21adc9ca4fb8a51b68ec,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-07-18 14:31:10,27.90,18.30
112054,fe91d55ea129eb6d5a2d5fc82bcacbd0,1,6afab9e71cf3c11c8baa174027ef4312,651fe66032c9520ee5587f694908040d,2018-07-20 09:04:17,29.00,18.30

In [103]:
dfProdutos_filtrados = dfProdutos.query('product_id in @dfItems_filtrados.product_id')
dfProdutos_filtrados

,product_id,product_category_name,product_name,product_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
22,e3e020af31d4d89d2602272b315c3f6e,beleza_saude,inhalador nebulizador,45,58.0,1987.0,3.0,75.0,21.0,7.0,13.0
76,278b3c6462e86b4556b99989513ddf73,eletroportateis,purificador água,150,58.0,587.0,3.0,350.0,20.0,20.0,20.0
141,bcd58b852a3b0152b6b384c4e4474ba2,cool_stuff,câmera instantânea,200,59.0,797.0,2.0,1400.0,25.0,20.0,20.0
161,3014e35fd70fce29095ced5cdc89f4ce,telefonia,lente celular,20,51.0,244.0,1.0,125.0,17.0,10.0,14.0
173,d458378a178cd7cae60052319cebf235,papelaria,borracha,2,50.0,198.0,2.0,200.0,24.0,7.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...
32841,092be1e8336fc404c57bd5970d056886,alimentos,arroz 5kg,20,53.0,869.0,1.0,750.0,16.0,12.0,15.0
32924,8e5e831d742acedb1758e90e18974231,automotivo,antena teto,20,55.0,520.0,1.0,550.0,20.0,15.0,15.0
32943,3becff10d1deb92b02f2a1ee62a04524,informatica_acessorios,HD externo 1TB,80,54.0,1520.0,2.0,6150.0,30.0,30.0,20.0
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,conjunto criado-mudo,150,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,toalhas rosto,20,50.0,799.0,1.0,1400.0,27.0,7.0,27.0

In [104]:
dfVendedores_filtrados = dfVendedores.query('seller_id in @dfItems_filtrados.seller_id')
dfVendedores_filtrados

,seller_id,seller_name,seller_zip_code_prefix,seller_city,seller_state
7,1b938a7ec6ac5061a66a3766e0e75f90,Robert Perkins,16304,penapolis,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,Kenneth Ross,80310,curitiba,PR
12,8bd0f31cf0a614c658f6763bd02dea69,John Butler,1222,sao paulo,SP
18,d2e753bb80b7d4faa77483ed00edc8ca,Jonathan Johnson,45810,porto seguro,BA
27,116ccb1a1604bc88e4d234a8c23f33de,Pamela Weiss,9850,sao bernardo do campo,SP
...,...,...,...,...,...
3048,06df0c10d34e459d9672bc77388742eb,Christopher Brown,87045,maringa,PR
3054,2b3b9ce054da76a7428df143a567b156,Thomas Elliott,3572,sao paulo,SP
3069,ea67327e24487bdfac5fbfa37ea124df,Theresa Edwards,14940,ibitinga,SP
3075,c70c1b0d8ca86052f45a432a38b73958,Dr. Billy Brown,13186,hortolandia,SP
3083,e94b64dc6979b302a5a5be1662c83bb6,Tracy Wilson,6852,itapecerica da serra,SP

In [105]:
dfAvaliacoes_filtradas = dfAvaliacoes.query('order_id in @dfPedidos_limitados.order_id')
dfAvaliacoes_filtradas

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
42,caf7d6d68090fedf0f47b27aff4b4eaf,c186ebe3937470a2f562a2dc0bc74dd7,5,NaN,NaN,2017-12-05 00:00:00,2017-12-07 23:34:56
208,bde35884f0abc51bddb28eb6fd181084,4709741e829775567b92abc42437b461,5,NaN,NaN,2018-04-10 00:00:00,2018-04-11 13:50:47
291,c01eaa86159b994afb4c5eb920993ebc,16e38caa92e342c7780f68832f832d4d,5,NaN,NaN,2018-05-25 00:00:00,2018-05-25 03:45:28
298,3fb929ba2924ff0a47858efb007ceee1,df8e5e994bcc820fcf403f9a875201e6,5,otimo,entrega rapida,2018-08-07 00:00:00,2018-08-08 12:05:26
338,16d40fdbdc2bb45a08f52621f05467eb,eb270c4cbf3671961f3883e8b888571b,3,NaN,NaN,2017-12-23 00:00:00,2017-12-25 13:42:25
...,...,...,...,...,...,...,...
99083,2e29a1dc332760b4324f9963d118347f,7209ce21354cff1e1957b42ea0a76cd1,5,NaN,NaN,2018-01-19 00:00:00,2018-01-20 09:20:28
99086,7b85c6acaddb354af9aa840528838d9f,33a3edb84b9df4cb49546859b990ac6d,1,Empres não confiável,Minha opinião é que se comprei o produto ele t...,2018-03-21 00:00:00,2018-10-11 13:34:54
99162,4e1fad431debcccf54b569356ab41b50,f419e615bbdeb34741d4bdd661ff8599,5,Recomendo,"Recomendo, compra segura entrega correta.",2018-08-17 00:00:00,2018-08-18 12:07:22
99166,d6f743b2368294e0b91096da5f8fe683,74ebfa44a323c96a7760bd693d690a3d,5,NaN,NaN,2017-06-27 00:00:00,2017-06-27 23:36:07
99213,e1178b88d0759176025710ea91094d34,00bdcdda88e6b02977fc6ce3d412c600,5,NaN,NaN,2018-06-19 00:00:00,2018-06-21 11:59:20

# Salvando as os dados tratados para um arquivo Excel

In [ ]:
# Criar um objeto ExcelWriter
writer = pd.ExcelWriter('./OutputPandas/dados_tratados_pandas.xlsx', engine='xlsxwriter')

# Exportar cada DataFrame para uma aba separada
dfClientes_filtrados.to_excel(writer, sheet_name='Clientes', index=False)
dfProdutos_filtrados.to_excel(writer, sheet_name='Produtos', index=False)
dfPedidos_limitados.to_excel(writer, sheet_name='Pedidos', index=False)
dfAvaliacoes_filtradas.to_excel(writer, sheet_name='Avaliacoes', index=False)
dfVendedores_filtrados.to_excel(writer, sheet_name='Vendedores', index=False)
dfItems_filtrados.to_excel(writer, sheet_name='Itens', index=False)

# Fechar o objeto ExcelWriter para salvar o arquivo Excel
writer.close()